@charset "utf-8";
/* ======== pc 상단 */
.pc_br {display:block !important;}
.pt_br {display:block !important;}
.tb_br {display:none!important}
.tm_br {display:none!important}
.mb_br {display:none!important}

/* default */
*::-moz-selection{background:0}
*::selection{background:0}
html{overflow:hidden}
#wrap,#contents,#container,main{height:100%}
/* ============ */

.main_visual{position:absolute;top:50%;left:0;z-index:110;width:100%;text-align:center;-webkit-transform:translateY(-50%);transform:translateY(-50%);margin-top: 35px;}
.main_visual h1.tit1{font-family:'Raleway';font-size:6.3rem;color:#fff;text-transform:uppercase;line-height:1;font-weight:700;-webkit-transition:.4s .1s,opacity .8s ease-in-out;transition:.4s .1s,opacity .8s ease-in-out;opacity:0}
.main_visual h1.tit1::-moz-selection{background:#ddd}
.main_visual h1.tit1::selection{background:#ddd}
.main_visual p.txt1{color:rgba(255,255,255,0.8);font-size:1.5rem;font-weight:300;line-height:1.5rem;margin-top:24px;-webkit-transition:.4s .1s,opacity .8s ease-in-out .5s;transition:.4s .1s,opacity .8s ease-in-out .5s;opacity:0}
.main_visual p.txt1::-moz-selection{background:#ddd}
.main_visual p.txt1::selection{background:#ddd}
.main_visual .more{margin-top: 10px;opacity:0;-webkit-transition:all 2s cubic-bezier(0.19,1,0.22,1) 1.2s;transition:all 2s cubic-bezier(0.19,1,0.22,1) 1.2s;-webkit-transform:translateY(30px);transform:translateY(30px);}
.main_visual .more a{display:block;width:80px;height:80px;margin:0 auto;line-height:75px;}
.main_visual .more a img{display:inline-block;vertical-align:middle}
.main_visual .more a img::-moz-selection{background:#ddd}
.main_visual .more a img::selection{background:0}
.main_visual .more a:hover img{-webkit-transition:.4s;transition:.4s;-webkit-transform:translateX(-6px);transform:translateX(-6px)}
.bb_slide_indicator{position:absolute;top:50%;right: 91px;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:1100;}
.bb_slide_indicator button{display:block;height: 22px;background:#fff;width: 3px;-webkit-transition:.3s;transition:.3s;outline:0;border:0;font-size:0;}
.bb_slide_indicator li.on button{background:#000000;}
.bb_slide_indicator li + li{margin-top: 15px;}
.bb_slide .item{height:100%;position:absolute;top:0;left:0;width:100%;display:none;z-index:1}
.bb_slide .item.current{display:block}
.bb_slide .img{height:100%;overflow:hidden}

.bb_slide video {
    margin: 0 auto;
    display: block;
}
.bb_slide{height:100%;position:absolute;top:0;left:0;width:100%;background:#0a0806}
.bb_slide_wrap{height:100%}
.bb_slide .img span{display:block;width:50%;height:100%;position:absolute;top:0;left:0;background-attachment: fixed !important;/* background-size: 100% 100%; */background-repeat: no-repeat;will-change: height;}
.bb_slide .img span.i1{background-position: center top;}
.bb_slide .img span.i2{left:50%;background-position: center top;}
.bb_slide .v01 .img span{background-image:url(../images/main/v01.jpg)}
.bb_slide .v02 .img span{background-image:url(../images/main/v02.jpg)}
.bb_slide .v03 .img span{background-image:url(../images/main/v03.jpg)}
.bb_slide .v04 .img span{background-image:url(../images/main/v04.jpg)}
.bb_slide .v05 .img span{background-image:url(../images/main/v05.jpg)}
#wrap footer{bottom:9.5vh;z-index:1000;padding:0}
#wrap footer div.wrap{color:rgba(255,255,255,0.7);opacity:0;-webkit-transform:translateY(100px);transform:translateY(100px);-webkit-transition:1s cubic-bezier(0.61,0,0.18,1) .15s;transition:1s cubic-bezier(0.61,0,0.18,1) .15s}
#wrap footer div.wrap address{display:inline-block;vertical-align:top}
body.ani .indicator{opacity:1;-webkit-transform:translateY(-50%) translateX(0px);transform:translateY(-50%) translateX(0px)}
body.ani #wrap footer div.wrap{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
#left_bar{-webkit-transition:1s cubic-bezier(0.61,0,0.18,1) .3s;transition:1s cubic-bezier(0.61,0,0.18,1) .3s;opacity:0;-webkit-transform:translateX(-100px);transform:translateX(-100px)}
body.ani #left_bar{opacity:1;-webkit-transform:translateX(0px);transform:translateX(0px)}
body.ani .main_visual h1.tit1{opacity:1}
body.ani .main_visual p.txt1{opacity:1}
body.ani .main_visual .more{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}