@charset "utf-8";
/* ======== pc 상단 */
.pc_br {display:block !important;}
.pt_br {display:block !important;}
.tb_br {display:none !important;}
.tm_br {display:none !important;}
.mb_br{display:none !important;}

/* con */
[class*="con-"][class*="-width1"]{max-width:1400px;margin:0 auto;width: 93%;}
[class*="con-"][class*="-width2"]{width:1200px;margin:0 auto}
/* ============ */

#left_bar{border:0}
#main{position:relative;padding-bottom:105px}
.m11#main{padding-bottom:0}
#wrap footer{bottom:72px}
#wrap footer div.wrap{font-size:1.3rem}
#wrap footer div.wrap .copy{font-weight:400}
#left_bar.on .menu span.name{color:#000;font-weight:700}
#left_bar.on .menu-trigger span{background-color:#000}
[class*='line_']:before{content:'';position:absolute;top:0;left:0;width:2px;height:570px;background:#fff}
[class*='line_']:after{content:'';position:absolute;bottom:0;top:570px;width:2px;background:#777}
[class*='line_']{background:none;z-index:1}
.sub_top{height:570px;background:url(../images/page/st3.jpg) no-repeat center top /cover fixed;position:relative;z-index:1}
.sub_top.st11{background-image:url(../images/page/st11.jpg)}
.sub_top.st12{background-image:url(../images/page/st12.jpg)}
.sub_top.st13{background-image:url(../images/page/st13.jpg)}
.sub_top.st2{background-image:url(../images/page/st2.jpg)}
.sub_top.st3{background-image:url(../images/page/st3.jpg)}
.sub_top.st4{background-image:url(../images/page/st4.jpg)}
.sub_top .navigation{margin-top:35px;font-size:0}
.sub_top .tit1{color:#fff;text-transform:uppercase;font-family:'Raleway';font-size:7.3rem;line-height:7.3rem;font-weight:700}
.sub_top .inner{position:absolute;bottom:108px;left:50%;width:1400px;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.sub_top .navigation > div{width:217px;position:relative;display:inline-block;vertical-align:top;z-index:10}
.sub_top .navigation > div.list2{margin-left:-1px}
.sub_top .navigation > div + [class*='_site']{margin-left:9px}
.sub_top .navigation > div:after{content:'';clear:both;display:block}
.sub_top .navigation > div h2{width:100%;height:52px;text-align:left;line-height:52px;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:1.4rem;font-weight:400;position:relative;border:1px solid rgba(255,255,255,0.37)}
.sub_top .navigation > div.on h2{background:#f8f8f8}
.sub_top .navigation > div.on h2 a{color:#000}
.sub_top .navigation > div h2 a{display:block;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;font-family:'Raleway';font-weight:500}
.sub_top .navigation > div h2 a span{font-family:'Raleway';font-weight:500;letter-spacing:4.2px;display:inline-block;vertical-align:top}
.sub_top .navigation > div ul.list{position:absolute;top:100%;left:0;width:100%;text-align:left;font-size:1.4rem;border-bottom:none;-webkit-box-sizing:border-box;box-sizing:border-box;display:none;padding:8px 0;background:#f8f8f8;border-top:1px solid #adadad}
.sub_top .navigation > div ul.list li a{display:block;color:#000;line-height:34px;padding-left:20px;font-family:'Raleway';font-weight:500}
.sub_top .navigation > div h2:before{content:'';position:absolute;width:9px;height:5px;background:url(/images/common/i_select_arrow_white.png) no-repeat;top:24px;right:18px;-webkit-transition:transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26);-webkit-transition:-webkit-transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26);transition:-webkit-transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26);transition:transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26);transition:transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26),-webkit-transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26);transition:transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26),-webkit-transform .3s .15s cubic-bezier(0.2,1.1,0.49,1.26);-webkit-transform:rotate(0deg);transform:rotate(0deg)}
.sub_top .navigation > div.on h2:before{background-image:url(/images/common/i_select_arrow.png);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.m00 .section01{padding-top:20px;position:relative}
.m00 .section01 .list3{font-size:0;text-align:center;margin-top:90px;position:relative;z-index:1;width: 100%;}

.m00 .section01 .list3.fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    z-index: 10;
}
.m00 .section01 .list3 li{display:inline-block;vertical-align:top;background:#fff}
.m00 .section01 .list3 li.on *{color:#fff}
.m00 .section01 .list3 li.on *:before{content:'';-webkit-animation:list3_on .6s cubic-bezier(0.29,1,0.49,1);animation:list3_on .6s cubic-bezier(0.29,1,0.49,1);background:#000;position:absolute;top:0;left:0;width:0;height:100%;z-index:-1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
@-webkit-keyframes list3_on {
0%{width:0}
100%{width:100%}
}
@keyframes list3_on {
0%{width:0}
100%{width:100%}
}
.m00 .section01 .list3 li + li{margin-left:7px}
.m00 .section01 .list3 li *{width:217px;height:52px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #b3b3b3;font-size:1.4rem;line-height:52px;text-transform:uppercase;color:#000;display:block;font-weight:500;letter-spacing:.3px;position:relative;z-index:0;background: #fff;font-family: inherit;outline: 0;}
.m00 .section01 .title_box{margin-top:135px;text-align:center;margin-bottom:88px}
.m00 .section01 .title_box .tit1{color:#141414;text-transform:uppercase;font-family:'Raleway';font-size:6.2rem;letter-spacing:.2px;font-weight:700;line-height:6.2rem}
.ie9 .m00 .section01 .title_box .tit1{color:#000}
.m00 .section01 .title_box .txt1{color:#141414;font-size:2rem;line-height:2rem;letter-spacing:-.4px;margin-top:14px}
.m00 .gray{background:#eee}
.m00 .m_tit1{text-align:center;font-family:'Raleway';font-weight:700;font-size:2.6rem;line-height:2.6rem;color:#141414;letter-spacing:.3px;text-transform:uppercase;margin-bottom:66px}
.m10 .section01 .pd_intro{padding-bottom:145px}
.m10 .section01 .pd_intro img{width:100%}
.m10 .section01 .title_box{position:relative;z-index:1}
.m10 .section01 .pd_intro:after{clear:both;content:'';display:block}
.m10 .section01 .pd_intro [class*='con-']{float:left;width:50%;position:relative}
.m10 .section01 .pd_intro .con-left:before{content:'';width:229px;height:4px;background:#94775f;position:absolute;right:1px;top:53px}
.m10 .section01 .pd_intro .con-left:after{content:'';position:absolute;top:53px;right:230px;width:96px;height:4px;background:#fff}
.m10 .section01 .pd_intro .con-left .tit1{color:#fff;text-transform:uppercase;font-family:'Raleway';font-size:5rem;line-height:1.2;font-weight:700}
.m10 .section01 .pd_intro .con-left .txt1{color:#fff;font-size:2.4rem;line-height:2.4rem;letter-spacing:-.4px;position:absolute;bottom:60px;left:60px;font-weight:300}
.m10 .section01 .pd_intro .con-right article{padding-left:50px;padding-top:48px}
.m10 .section01 .pd_intro .con-right article a.btn{width:217px;height:52px;border:1px solid #000;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;text-align:center;line-height:52px;text-transform:uppercase;font-family:'Raleway';font-weight: 700;font-size: 1.4rem;letter-spacing: 0.2px;color:#000;margin-top:58px;}
.m10 .section01 .pd_intro .con-right .txt1{font-size:1.6rem;color:rgba(20,20,20,0.6);letter-spacing:-.2px;word-break:keep-all;line-height:1.65}
.m10 .section01 .pd_intro .con-left .tit_figure{background:#94775f;width:340px;height:340px;position:relative;padding:50px 60px;-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:130px;margin-top:-170px}
.m10 .section01 .pd_intro .con-left .tit_figure:before{content:'';position:absolute;top:-15px;left:-15px;right:15px;bottom:15px;border:1px solid #fff;opacity:.3;-webkit-box-sizing:border-box;box-sizing:border-box}
.m10 .section01 .pd_intro .con-left .tit_figure:after{position:absolute;bottom:15px;left:-15px;content:'';width:15px;height:155px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #94775f;border-top:0;border-right:0}
.m10 .tech{position:relative;padding-top:138px;padding-bottom:138px}
.m10 .tech .m_img{border:1px solid #dbdbdb;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;z-index:1;margin-bottom:60px}
.m10 .tech .m_img img{width:100%}
.m10 .tech .list{position:relative;z-index:1;font-size:0;margin-top:-30px}
.m10 .tech .list li{width:calc(33.33% - 20px);display:inline-block;vertical-align:top;margin-right:30px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #dbdbdb;margin-top:30px;position:relative;opacity:0;-webkit-transition:.4s;transition:.4s}
.m10 .tech .list li.in-view{opacity:1}
.m10 .tech .list li.empty{border:3px solid #f2f2f2}
.m10 .tech .list li .text{position:absolute;top:50%;left:50%;width:288px;height:216px;background:#94775f;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center;padding:0 20px;padding-top:34px;-webkit-box-sizing:border-box;box-sizing:border-box}
.m10 .tech .list li .text .num{color:#fff;font-family:'Raleway';font-weight:500;letter-spacing:5px;font-size:1.6rem;line-height:1.6rem}
.m10 .tech .list li .text .tit1{font-size:2.2rem;line-height:2.2rem;letter-spacing:-.2px;color:#fff;margin-top:15px}
.m10 .tech .list li .text .txt1{color:rgba(255,255,255,0.8);font-size:1.6rem;letter-spacing:-.4px;word-break:keep-all;margin-top:12px}
.m10 .tech .list li img{width:100%}
.m10 .tech .list li:nth-child(3n){margin-right:0}
.m10 .character{padding-top:138px;padding-bottom:200px}
.m10 .character .inner{position:relative;z-index:1}
.m10 .character .img{text-align:center;padding-top:90px}
.m10 .character .list li{position:absolute;top:0;opacity:0;-webkit-transition:.4s;transition:.4s}
.m10 .character .in-view .list li{opacity:1}
.m10 .character .list li:nth-child(1){text-align:center;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition-delay:.1s;transition-delay:.1s}
.m10 .character .list li:nth-child(2){right:50%;top:255px;margin-right:-460px;-webkit-transition-delay:.2s;transition-delay:.2s}
.m10 .character .list li:nth-child(3){right:50%;top:656px;margin-right:-400px;-webkit-transition-delay:.3s;transition-delay:.3s}
.m10 .character .list li:nth-child(4){text-align:right;left:50%;top:656px;margin-left:-445px;-webkit-transition-delay:.4s;transition-delay:.4s}
.m10 .character .list li:nth-child(5){text-align:right;left:50%;top:255px;margin-left:-520px;-webkit-transition-delay:.5s;transition-delay:.5s}
.m10 .character .tit1{font-size:1.8rem;line-height:1.8rem;color:#141414;position:relative;display:inline-block;vertical-align:top;padding-bottom:2px}
.m10 .character .tit1:before{position:absolute;bottom:0;left:0;right:0;height:1px;background:#141414;content:''}
.m10 .character .txt1{font-size:1.6rem;letter-spacing:-.2px;color:rgba(20,20,20,0.6);margin-top:11px}
.m10 .product .cate{max-width: 1400px;width: 93%;margin:0 auto;position:relative;height:1265px;padding:140px 0;box-sizing:border-box;}
.m10 .product .text{position:relative;box-sizing:border-box;width:50%;padding-bottom:50px}
.m10 .product .text:before{content:'';width:122px;height:4px;background:#94775f;position:absolute;top:75px;left:0;z-index:1}
.m11 .product .cate2 .text:before{display:none}
.m11 .product .cate2 .t1:before{content:'';background:#94775f;position:absolute;z-index:1;width:4px;height:122px;bottom:-158px;left:42px}
.m10 .product .text.right{margin-left:50%;padding-left:150px}
.m10 .product .h1{display:inline-block;vertical-align:top;font-family:'Raleway';font-size:5rem;line-height:4.6rem;color:#222;font-weight:600;border-bottom:1px solid #000}
.m10 .product .t1{margin-top:22px;font-size:1.6rem;line-height:1.7;letter-spacing:-.2px;color:rgba(20,20,20,0.7);word-break:keep-all;position:relative}
.m10 .product .cate img{position:absolute}
.m11 .product .cate1 .img1{top:140px;left:0}
.m11 .product .cate1 .img2{right:0;bottom:268px}
.m11 .product .cate1 .img3{bottom:140px;left:0}
.m11 .product .cate1 .text.right{margin-top:120px;padding-right:25px}
.m11 .product .cate2 .text{margin-top:170px;margin-bottom:65px;width:440px}
.m11 .product .cate2 .img1{bottom:140px;left:0}
.m11 .product .cate2 .img2{bottom:182px;right:0}
.m11 .product .cate2 .img3{bottom:585px;left:50%;transform:translateX(-50%)}
.m11 .product .cate2{height:1180px}
.m11 .product .cate3 .t1{width:435px}
.m11 .product .cate3 .text:before{left:auto;right:0;top:0}
.m11 .product .cate3 .img1{right:0;top:140px}
.m11 .product .cate3 .img2{bottom:340px;left:0}
.m11 .product .cate3 .img3{bottom:255px;left:calc(50% + 65px)}
.m11 .product .cate3{height:1260px}
.m11 .product .cate3 .text{margin-top:105px}
.hidden_title{display:none}
.m11 .section03{position:relative;z-index:1;padding-bottom:140px;padding-top:148px}
.m11 .section03 .inner{width:1440px;margin:0 auto;-webkit-transition:.4s;transition:.4s}
.m11 .section03 .inner .list{font-size:0;position:relative;z-index:0}
.m11 .section03 .inner .list:before{content:'';position:absolute;top:109.5px;left:30px;right:30px;height:2px;background:url(../images/page/m10_prss_midLine.png) repeat-x center top;z-index:-1}
.m11 .section03 .inner .list li{width:20%;display:inline-block;vertical-align:top;text-align:center;background:url(../images/page/m10_prss_topLine.png) no-repeat center top;opacity:0;-webkit-transition:opacity .4s .1s;transition:opacity .4s .1s}
.m11 .section03 .inner .list.in-view li{opacity:1}
.m11 .section03 .inner .list.in-view li:nth-child(2){-webkit-transition-delay:.2s;transition-delay:.2s}
.m11 .section03 .inner .list.in-view li:nth-child(3){-webkit-transition-delay:.3s;transition-delay:.3s}
.m11 .section03 .inner .list.in-view li:nth-child(4){-webkit-transition-delay:.4s;transition-delay:.4s}
.m11 .section03 .inner .list.in-view li:nth-child(5){-webkit-transition-delay:.5s;transition-delay:.5s}
.m11 .section03 .inner .list li .box{width:200px;height:200px;border-radius:200px;background:#b5b5b5;margin:10px auto;display:table}
.m11 .section03 .inner .list li .tit1{font-size:1.6rem;color:rgba(124,124,124,0.9);letter-spacing:-.2px;margin-top:30px;word-break:keep-all}
.m11 .section03 .inner .list li .tit1 .num{color:#94775f;font-weight:500;margin-right:5px}
.m11 .section03 .inner .list li .box .txt1{display:table-cell;vertical-align:middle}
.m11 .section03 .inner .list li .box .txt1 span{font-size:2.2rem;line-height:2.2rem;color:#fff;display:block;letter-spacing:-.2px;margin-bottom:26px}
.m11 .section03 .inner .list li:nth-child(even) .box{background:#8f8f8f}
.m11 .section03 .inner .list li:nth-child(even){background-image:url(../images/page/m10_prss_underLine.png)}
.m11 .section04:before{height:720px;background:#eee;position:absolute;top:0;left:0;width:100%;content:'';z-index:-1}
.m11 .section05{padding-bottom:105px}
.m11 .section05 .list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative;z-index:1;margin-top:-15px}
.m11 .section05 .list .cate{-ms-flex-preferred-size:calc(50% - 15px);flex-basis:calc(50% - 15px);width:calc(50% - 15px);border:1px solid #dbdbdb;-webkit-box-sizing:border-box;box-sizing:border-box;background:#fff;margin-top:15px;font-size:0}
.m11 .section05 .list .cate.last{width:100%;-ms-flex-preferred-size:100%;flex-basis:100%}
.m11 .section05 .list .cate .cate_name{text-align:center;background:#f2f2f2;border-bottom:1px solid #dbdbdb;font-size:1.8rem;line-height:48px;letter-spacing:-.2px;font-weight:500;margin-bottom:30px}
.m11 .section05 .list .cate [class*='con-']{width:50%;display:inline-block;vertical-align:top}
.m11 .section05 .list .cate .item{font-size:0;padding-left:30px;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:0;-webkit-transition:.4s;transition:.4s}
.m11 .section05 .list .cate .item.in-view{opacity:1}
.m11 .section05 .list .cate .item + .item{margin-top:10px}
.m11 .section05 .list .cate .item > *{display:inline-block;vertical-align:top}
.m11 .section05 .list .cate .item .name{font-size:1.6rem;line-height:66px;letter-spacing:-.2px;color:#111;font-weight:500;width:89px;position:relative;margin-right:15px}
.m11 .section05 .list .cate .item .name:after{position:absolute;content:'';top:26px;right:0;width:1px;height:18px;background:#3e3a3b}
.m11 .section05 .list .cate .item .sub_list{width:calc(100% - 164px);margin-left:-10px}
.m11 .section05 .list .cate .item .sub_list li{display:inline-block;vertical-align:top;margin:0 10px}
.m11 .section05 .list .cate .item .sub_list li .img{width:66px}
.m11 .section05 .list .cate .item .sub_list li .img img{width:100%}
.m11 .section05 .list .cate .item .sub_list li .txt1{font-size:1.3rem;line-height:1.3rem;text-align:center;letter-spacing:-.4px;color:#585858;margin-top:6px;margin-bottom:10px}
.m11 .section05 .list .cate:nth-child(2){padding-bottom:30px}
.m11 .section05 .list .cate:nth-child(3){padding-bottom:50px}
.m12 .character .list li:nth-child(2){right: 47%;}
.m12 .character .list li:nth-child(3){right: 48%;}
.m12 .character .list li:nth-child(4){left: 55%;}
.m12 .character .list li:nth-child(5){left: 55%;}
.m12 .tech .list li .text{height:129px}
.m12 .product .left2{text-align:right;padding-right:210px}
.m12 .product .left2:before{left:auto;right:-9px;width:182px;top:20px}
.m12 .product .cate1 .left2{margin-top:125px}
.m12 .product .cate1 .img1{top:140px;right:0}
.m12 .product .cate1{height:854px}
.m12 .product .cate2{padding-top:75px;height:460px}
.m12 .product .cate2 .img1{top:-130px;left:48px}
.m12 .product .cate2 .text:before{top:20px;width:183px;left:38px}
.m12 .product .cate2 .text.right{padding-left:260px}
.m12 .product .cate3{height:375px}
.m12 .product .cate5 .text:before{display:none}
.m12 .product .cate4{height:724px}
.m12 .product .cate3 .img1{top:0;right:48px}
.m12 .product .cate5{height:1335px}
.m12 .product .cate4 .text:before{width:153px;top:22px}
.m12 .product .cate4 .text.right{margin-top:210px;padding-left:180px}
.m12 .product .cate4 .img1{top:220px;left:70px}
.m12 .product .cate4 .img2{top:592px;left:50%;transform:translateX(-50%);z-index:1}
.m12 .product .cate5 .img1{left:35px;bottom:250px}
.m12 .product .cate5 .img2{right:70px;bottom:250px}
.m12 .product .cate5 .text{margin-top:295px;padding-left:95px}
.m12 .product .cate5 .t1:before{width:4px;height:122px;bottom:-160px;content:'';background:#94775f;position:absolute;left:0;z-index:1}
.m12 .product .cate3 .left2{padding-right:258px}
.m12 .product .cate3 .left2:before{right:38px}
.m20 .inner{margin-bottom:135px}
.m20 .portfolio_list{font-size:0;border-top:2px solid #000;padding-top:2px;position: relative;z-index: 1;}
.m20 .portfolio_list li{width:calc(25% - 6px);display:inline-block;vertical-align:top;margin-right:8px;margin-top:8px;position:relative}
.m20 .portfolio_list li .img{width:100%;height:0;padding-bottom:100%;overflow:hidden;position:relative;background: #2a2a2a;}
.m20 .portfolio_list li img{width:100%;position: absolute;top: 50%;transform: translateY(-50%);}
.m20 .portfolio_list li:nth-child(4n){margin-right:0}
.m20 .btn_area{text-align:center;margin-top:60px}

.m20 .btn_area .loading_img {
    display: none;
}
.m20 .btn_area button{background:0;outline:0;border:0}
.m20 .btn_area button img{display:block}
.m20 .portfolio_list li .text{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;display: flex;flex-wrap: wrap;align-items: center;}
.m20 .portfolio_list li:hover .text{background:rgba(148,119,95,0.83);transition:.4s}
.m20 .portfolio_list li .group{font-size:1.4rem;color:rgba(255,255,255,0.7);text-align:center;font-weight:300;width: 100%;}
.m20 .portfolio_list .h1{display:block;font-size:2rem;letter-spacing:-.2px;color:rgba(255,255,255,0.9);line-height:2rem;font-weight:400;word-break: keep-all;}
.m20 .portfolio_list .t1{margin-top:20px;display:none;word-break: keep-all;padding: 0 20px;box-sizing: border-box;}
.m20 .portfolio_list li:hover .t1{display:block}
.m20 .portfolio_list .more_view{display:block;text-transform:uppercase;font-size:1.3rem;line-height:1.3rem;font-weight:400;margin-top:20px}
.portfolio_view_slide .item{height: 42.5vw;position:relative;}
.portfolio_view_slide .item .img{height: 100%;width:100%;position:relative;overflow:hidden;}
.portfolio_view_slide .item .img img{position:absolute;top:50%;left: 50%;height: 100%;transform: translate(-50%, -50%);}
.portfolio_view_slide_arrow > *{position:absolute;top:50%;background:0;border:0;outline:0;transform:translateY(-50%);z-index:1}
.portfolio_view_slide_arrow .prev{left:5%}
.portfolio_view_slide_arrow .next{right:5%}
.portfolio_view .inner h1.title{font-size:3.6rem;line-height:3.6rem;letter-spacing:-.2px;text-align:center;margin-top:78px;margin-bottom:65px;color:#141414}
.portfolio_view .list_area .btn > *{display:inline-block;vertical-align:top}
.portfolio_view .list_area .h1{font-size:2rem;letter-spacing:-.2px;color:#010101;padding:0 20px;line-height:80px;height: 80px;width: calc(100% - 80px);}
.portfolio_view .list_area{font-size:0;position:relative;margin-top:60px;padding-bottom:90px}
.portfolio_view .list_area a{display:block;position:absolute;top:0;left:0;width: 50%;}
.portfolio_view .list_area a.next{left:auto;right:0;text-align:right;}
.portfolio_view_slide_wrap{position:relative}
.portfolio_view .inner{position:relative;z-index:1}
.portfolio_view_slide .item .text{position:absolute;bottom:68px;left:50%;color:#fff;transform:translateX(-50%);text-align:center;z-index:1}
.portfolio_view_slide .item .h1{font-size:3.6rem;line-height:3.6rem}
.portfolio_view_slide .info{display:block;font-size:0;margin-top:18px}
.portfolio_view_slide .info > *{display:inline-block;vertical-align:top;font-size:1.8rem;line-height:1.8rem}
.portfolio_view_slide .time{position:relative}
.portfolio_view_slide .time:before{content:'';height:13px;background:#fff;width:1px;opacity:.47;display:inline-block;vertical-align:top;margin-left:12px;margin-right:12px;margin-top:3px}
.m31#main{padding-bottom:0}
.m31 .section01 .title_box{margin-bottom:135px}
.m31 .section01 .intro{padding-bottom:178px}
.m31 .section01 .intro:after{clear:both;content:'';display:block}
.m31 .section01 .intro [class*='con-']{float:left;width:50%;position:relative}
.m31 .section01 .intro .con-left:before{content:'';position:absolute;top:130px;right:0;width:192px;height:4px;background:#94775f;-webkit-transform-origin:right;transform-origin:right;-webkit-transition:.35s .3s cubic-bezier(0.46,-0.06,0,1);transition:.35s .3s cubic-bezier(0.46,-0.06,0,1);-webkit-transform:scaleX(0);transform:scaleX(0)}
.m31 .section01 .intro .con-left.in-view:before{-webkit-transform:scaleX(1);-webkit-transform:scaleX(1);transform:scaleX(1)}
.m31 .section01 .intro .con-left .tit1{color:#141414;font-size:4.6rem;line-height:1.2;letter-spacing:-.2px;margin-top:-8px}
.m31 .section01 .intro .con-left .txt1{font-size:1.6rem;color:rgba(20,20,20,0.6);letter-spacing:-.2px;word-break:keep-all;margin-top:55px}
.m31 .section01 .intro .con-right img{width:100%}
.m31 .section02{background:#eee url(../images/page/m31_section02_bg.jpg) no-repeat center 172px / auto 360px;padding-bottom:225px}
.m31 .section02 .m_tit1{padding-top:80px}
.m31 .section02 .inner{background:#fff;margin-top:326px;padding-top:105px;padding-bottom:42px}
.m31 .section02 .inner .year{padding-bottom:68px;opacity:0;-webkit-transition:.4s;transition:.4s}
.m31 .section02 .inner .year.in-view{opacity:1}
.m31 .section02 .inner .year:after{clear:both;content:'';display:block}
.m31 .section02 .inner .year [class*='con-']{width:50%;float:left}
.m31 .section02 .inner .year [class*='con-'] .day{padding-right:15%}
.m31 .section02 .inner .con-left:after{clear:both;display:block;content:''}
.m31 .section02 .inner .con-left .tit1{font-weight:500;font-size:4.6rem;line-height:4.6rem;color:#141414;width:400px;float:right;position:relative}
.m31 .section02 .inner .con-left .tit1:after{content:'';width:212px;height:2px;background:#94775f;position:absolute;top:24px;right:41px}
.m31 .section02 .inner .con-right{font-size:0;padding-top:12px;padding-left:60px;box-sizing:border-box}
.m31 .section02 .inner .con-right .day + .day{margin-top:10px}
.m31 .section02 .inner .con-right span{font-weight:500;text-transform:uppercase;font-size:1.8rem;line-height:1.5;color:#141414;display:inline-block;vertical-align:top;width:72px}
.m31 .section02 .inner .con-right .txt1{display:inline-block;vertical-align:top;width:calc(100% - 125px);font-size:1.8rem;line-height:1.5;word-break:keep-all;color:rgba(20,20,20,0.5)}
.m32 .section02{padding-top:50px}
.m32:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:460px;background:#eee}
.m32 .section02 .inner:after{clear:both;content:'';display:block}
.m32 .section02 .inner [class*='con-']{float:left;width:50%;position:relative}
.m32 .section02 .inner .con-left:before{content:'';position:absolute;top:228px;right:0;width:192px;height:4px;background:#94775f;-webkit-transform-origin:right;transform-origin:right;-webkit-transition:.35s .3s cubic-bezier(0.46,-0.06,0,1);transition:.35s .3s cubic-bezier(0.46,-0.06,0,1);-webkit-transform:scaleX(0);transform:scaleX(0)}
.m32 .section02 .inner .con-left.in-view:before{-webkit-transform:scaleX(1);-webkit-transform:scaleX(1);transform:scaleX(1)}
.m32 .section02 .inner .con-left:after{content:'';width:100%;position:absolute;top:100%;right:0;background:url(../images/common/i_figure_midam.png) no-repeat right top;height:100px}
.m32 .section02 .inner .con-right{padding-right:78px;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:110px}
.m32 .section02 .inner .con-right .tit1{color:#141414;font-size:4.6rem;line-height:1.2;letter-spacing:-.2px;margin-top:-8px;margin-left:-2px}
.m32 .section02 .inner .con-right .txt1{font-size:1.6rem;color:rgba(20,20,20,0.6);letter-spacing:-.2px;word-break:keep-all;margin-top:65px;padding-left:70px}
.m32 .section02 .inner .con-right .ceo{text-align:right;font-size:1.6rem;line-height:1.6rem;letter-spacing:-.8px;color:rgba(20,20,20,0.7);margin-top:44px}
.m32 .section02 .inner .con-right .sign{margin-top:14px}
.m33 .group{display:flex}
.m33 .group.right{text-align:right}
.m33 .group > *{flex-basis:50%;width:50%;box-sizing:border-box;position:relative}
.m33 .group:nth-child(1) .text_box{padding-left:165px}
.m33 .group:nth-child(2) .text_box{padding-right: 190px;}
.m33 .group:nth-child(3) .text_box{padding-left:165px}
.m33 .h1{font-size:4.6rem;color:#141414;letter-spacing:-.4px;line-height:1.2;margin-top:48px}
.m33 .text_box:before{content:'';position:absolute;top:242px;left:0;width:206px;height:4px;background:#94775f}
.m33 .group:nth-child(2) .text_box:before{left:auto;right:0;width:230px}
.m33 .t1{font-size:1.6rem;color:rgba(20,20,20,0.7);margin-top:60px;word-break:keep-all;letter-spacing: -0.2px;line-height: 1.7;}
.m33 .ci img{width:88px}

.m33 .group:nth-child(3) .ci img {
    width: 72px;
}
.m33 .ci_link {
    width: 268px;
    height: 52px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    line-height: 52px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #000;
    font-size: 1.4rem;
    margin-top: 6px;
}
.m33 .ci{width:268px;height:130px;border:1px solid #dbdbdb;text-align:center;box-sizing:border-box;line-height:125px;margin-top:30px;display:inline-block;vertical-align:top}
.m33 .section02{padding-bottom:155px}
.m33 .img6{position:absolute;bottom:0;right:-80px}
.m33 .group:nth-child(1) .img_box:before{content:'';position:absolute;bottom:122px;left:220px;width:192px;height:96px;box-sizing:border-box;border:4px solid #6cbd45;border-top:0;border-right:0}
.m33 .group:nth-child(2) .img_box:before{content:'';position:absolute;bottom:169px;left:288px;width:169px;height:191px;box-sizing:border-box;border:4px solid #faab52;border-left:0;border-top:0}
.m33 .group:nth-child(3) .img_box:before{content:'';position:absolute;bottom:122px;left:220px;width:192px;height:96px;box-sizing:border-box;border:4px solid #6cbd45;border-top:0;border-right:0}
.m33 .group .img_box .img2{position:absolute;bottom:0;right: -80px;z-index: 1;}
.m33 .group .img_box{padding-bottom:218px}
.m33 .group + .group{margin-top:150px}
.m33 .group:nth-child(2) .img_box{padding-bottom:360px}
.m33 .group .img4{position:absolute;bottom:0;left: -80px;z-index: 1;}
.m34 .section02{background:url(../images/page/m34_bg.jpg) no-repeat center top /auto 580px;padding-top:175px;position:relative;z-index:1;margin-bottom:240px}
.m34 .section02 .list{font-size:0;text-align:center;position:relative;padding:0 20px;padding-bottom:70px;box-sizing:border-box}
.m34 .section02 .list:after{content:'';width:50%;position:absolute;top:100%;left:50%;height:115px;background:url(../images/common/i_figure_midam.png) no-repeat left top /auto 115px}
.m34 .section02 .list:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:350px;background:#93775f;z-index:-1}
.m34 .section02 .list .item{display:inline-block;vertical-align:top;width:300px}
.m34 .section02 .list .item .img{-webkit-box-shadow:3.3px 3.8px 15px 0 rgba(0,0,0,0.18);box-shadow:3.3px 3.8px 15px 0 rgba(0,0,0,0.18);display:inline-block;vertical-align:top}
.m34 .section02 .list .item .tit1{color:#fff;font-size:1.8rem;line-height:1.8rem;letter-spacing:-.4px;margin-top:18px}
.m34 .section02 .list .item + .item{margin-left:55px}
.m35 .inner{text-align:center;padding:105px 0;position:relative;z-index:1;margin-bottom:85px}

.m35 .inner img {
    margin: 0 auto;
}
.m37 .inner{margin-bottom:180px}
.m37 .list{border-top:2px solid #141414;background:#fff;position:relative;z-index:1}
.m37 .list li{border-bottom:1px solid rgba(0,0,0,0.2);overflow:hidden;padding:38px 40px 32px 0;box-sizing:border-box}
.m37 .list li:hover{background:#faf9f8}
.m37 .list li > *{float:left}
.m37 .date{text-align:center;width:142px;border-right:1px solid #dbdbdb;box-sizing:border-box}
.m37 .d{font-size:4rem;line-height:.7;display:block;color:#94775f;letter-spacing:-.6px;font-weight:700}
.m37 .ym{font-size:1.6rem;line-height:1.6rem;letter-spacing:-.2px;margin-top:10px;display:block;color:#a0a0a0;font-weight:300}
.m37 .contents{margin-left:78px;width:calc(100% - 272px);padding-right:200px;box-sizing:border-box}
.m37 .contents .sbj{font-size:2.1rem;color:#444;letter-spacing:-.5px;line-height:2.1rem;display:block}
.m37 .contents .txt1{font-size:1.6rem;line-height:1.6rem;letter-spacing:-.4px;color:#63615d;margin-top:12px;display:block}
.m37 .btn_area .plus{width:52px;height:52px;box-sizing:border-box;border:1px solid #94775f;position:relative;transition:.1s}
.m37 .btn_area .plus span{position:absolute;background:#94775f;transition:.1s}
.m37 .btn_area .plus .l1{width:23px;height:1px;top:50%;left:50%;margin-left:-11.5px;margin-top:-.5px}
.m37 .btn_area .plus .l2{height:23px;width:1px;top:50%;left:50%;margin-top:-11.5px;margin-left:-.5px}
.m37 .list li:hover .plus{background:#94775f;transition:.3s}
.m37 .list li:hover .plus span{background:#fff;transition:.3s}
.news_view .inner{position:relative;z-index:1;margin-bottom:105px}
.news_view .customer_view{border-top:2px solid #333;margin-top:48px;background:#fff}
.news_view li.head{border-bottom:1px solid #e1e1e1;text-align:center;padding:34px 25px;-webkit-box-sizing:border-box;box-sizing:border-box;background:#faf9f8}
.news_view li.head .contents_title{font-size:2.4rem;line-height:1.3;letter-spacing:-1px;color:#222;word-break:keep-all;-webkit-line-clamp:3}
.news_view li.head .time{font-size:1.6rem;color:#666;line-height:1.6rem;margin-top:10px;display:block}
.news_view li.body{border-bottom:1px solid #e1e1e1;padding:75px 20px 95px;-webkit-box-sizing:border-box;box-sizing:border-box}
.news_view li.body img{max-width:100%!important;width:auto}
.news_view li.body p{font-size:1.6rem!important;letter-spacing:-.8px!important;color:#141414!important;line-height:1.6!important}
.news_view .list_area{position:relative;height:93px;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #e1e1e1;background:#fff}
.news_view .list_area:after{clear:both;content:'';display:block}
.news_view .list_area .left{float:left}
.news_view .list_area > div > a > *{display:inline-block;vertical-align:top}
.news_view .list_area .sbj{font-size:1.7rem;letter-spacing:-1px;color:#777;line-height:92px;width:450px;white-space:nowrap}
.news_view .list_area .right .sbj{text-align:right}
.news_view .list_area .icon > *{display:inline-block;vertical-align:top;line-height:88px}
.news_view .icon .text{font-family:'Raleway';text-transform:uppercase;font-size:1.6rem;color:#1a1a1a;letter-spacing:-.8px;line-height:95px;font-weight:700}
.news_view .left .icon .text{margin-left:20px;margin-right:50px}
.news_view .right .icon .text{margin-right:20px;margin-left:50px}
.news_view .list_area .menu{position:absolute;top:0;left:50%;width:85px;height:85px;margin-left:-42.5px;background:#f9253b;display:block;overflow:hidden}
.news_view .list_area .menu:before{width:85px;height:85px;background:#000;content:'';position:absolute;top:0;left:0;-webkit-transform:scale(0);transform:scale(0);border-radius:100%;-webkit-transition:opacity 0;transition:opacity 0;opacity:0}
.news_view .list_area .menu:hover:before{-webkit-transform:scale(1.8);transform:scale(1.8);-webkit-transition:.3s .1s ease-out;transition:.3s .1s ease-out;opacity:1}
.news_view .list_area .menu span{position:absolute;top:32px;left:30px;width:25px;height:1px;background:#fff;-webkit-transition:.4s;transition:.4s}
.news_view .list_area .menu:hover .l1{-webkit-transform:translateX(-3px);transform:translateX(-3px)}
.news_view .list_area .menu:hover .l2{-webkit-transform:translateX(5px);transform:translateX(5px)}
.news_view .list_area .menu:hover .l3{-webkit-transform:translateX(-3px);transform:translateX(-3px)}
.news_view .list_area .menu .l2{top:42px}
.news_view .list_area .menu .l3{top:52px}
.news_view .list_area .right{float:right}
.news_view .list_area a{display:block}
.news_view .btn a{display:inline-block;text-align:center;vertical-align:top;width:217px;height:52px;line-height:52px;border:1px solid #000;box-sizing:border-box;font-family:'Raleway';font-size:1.4rem;text-transform:uppercase;color:#000;font-weight:700;letter-spacing:.2px;margin-top:50px;background:#fff}
.m41 .inner{overflow:hidden;margin-top:78px;margin-bottom:150px}
.m41 .inner > div{float:left;width:50%;box-sizing:border-box}
.m41 .left{padding-right:80px}
.m41 .right{padding-left:80px}
.m41 .t1{font-family:'Raleway';font-size:2.6rem;line-height:2.6rem;font-weight:700;color:#1a1a1a;padding-bottom:14px;border-bottom:2px solid #000}
.m41 dl{border-bottom:1px solid #ddd;display:table;width:100%}
.m41 dl > *{display:table-cell;height:98px;vertical-align:middle;box-sizing:border-box}
.m41 dt{width:130px;font-size:1.8rem;color:#141414;padding-left:30px;letter-spacing:-.2px}
.m41 dd{color:rgba(0,0,0,0.7);font-size:1.8rem;font-weight:300;letter-spacing:-.2px;word-break: keep-all;}
.m41 .col{display:block;font-size:0;margin-top:20px}
.m41 .col input{width:100%;height:45px;box-sizing:border-box;border:0;background:#f4f4f4;font-size:16px;padding-left:15px;color:#141414}
.m41 .col textarea{background:#f4f4f4;font-size:16px;padding:15px;color:#141414;resize:none;border:0;width:100%;height:162px;box-sizing:border-box}
.m41 .col.half input{width:calc(50% - 10px)}
.m41 .col.half input + input{margin-left:20px}
.m41 .btn_area{margin-top:20px;border-top:1px solid #ddd;text-align:center}
.m41 .btn_area button{outline:0;background:0;font-family:'Raleway';font-weight:700;font-size:1.4rem;letter-spacing:.2px;width:217px;height:52px;border:1px solid #000;box-sizing:border-box;margin-top:30px}
@media (max-width: 1700px) {
.sub_top .inner{left:135px;-webkit-transform:translateX(0);transform:translateX(0);width:auto}
}
@media (max-width: 1600px) {
.m31 .section01 .intro .con-left:before{width:150px}
.m11 .section03 .inner{width:1200px}
}
@media (max-width: 1560px) {
.m31 .section01 .intro .con-left .tit1{font-size:4rem}
.m31 .section01 .intro .con-left .txt1{font-size:1.5rem;line-height:1.6}
.m31 .section01 .intro{width:85%}
.m31 .section01 .intro .con-left:before{width:80px;top:110px}
}
@media (max-width: 1460px) {
.m32 .section02 .inner .con-left img{max-width:85%}
.m32 .section02 .inner .con-right .txt1{padding-left:40px}
}
@media (max-width: 1400px) {
.m32 .section02 .inner .con-right .txt1{font-size:1.5rem;margin-top:45px}
.m32 .section02 .inner .con-right .tit1{font-size:4.2rem;font-size:4.2rem}
.m34 .section02 .list .item .img img{width:240px}
.m32 .section02 .inner .con-left:before{top:194px;width:160px}
.m32 .section02 .inner .con-right .ceo{font-size:1.5rem}
.m32 .section02 .inner .con-right .sign{margin-top:8px}
.m32 .section02 .inner .con-left:after{height:85px;background-size:auto 85px}
}